img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.fight {
  background-image: url('https://www.nordicvisitor.com/images/lapland/snowy-trees-sunset-rovaniemi%C2%A9visitrovaniemi.fi.jpg');
  height: 100%;
  display: flex;
  flex-direction: column;
}