@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #4e6a52;
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  height: 50px;
  font-size: 20px;
  opacity: 0.89;
  background-image: linear-gradient(to bottom, #4e6a52, #143b28);
  background-repeat: no-repeat;
  background-size: cover;
  animation: emerge 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header header {
  margin-right: 100px;
}

.common {
  width: 100%;
  background-image: url("../../images/swamp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 94.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common .button {
  margin-bottom: 250px;
}

@media only screen and (max-width: 575.98px) {
  .header header {
    margin-left: 110px;
    width: 50%;
    text-wrap: nowrap;
  }
}
