@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  background-color: #4e6a52;
  min-height: 35px;
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  padding-top: 15px;
  font-size: 20px;
  opacity: 0.89;
  text-align: center;
  background-image: linear-gradient(to bottom, #4e6a52, #143b28);
  background-repeat: no-repeat;
  background-size: cover;
  animation: emerge 1s forwards;
}

.common {
  text-align: center;
  background-color: #1b4332;
  background-image: url("../../images/swamp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 94.6vh;
  color: #ffffffc2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common .button {
  margin-bottom: 250px;
}
