@keyframes emerge {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  background-color: #4e6a52;
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  height: 50px;
  font-size: 20px;
  opacity: 0.89;
  background-image: linear-gradient(to bottom, #4e6a52, #143b28);
  background-repeat: no-repeat;
  background-size: cover;
  animation: emerge 1s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header header {
  margin: 0;
}

.common {
  background-image: url("../../images/swamp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  position: relative;
  top: 350px;
}

@media screen and (max-width: 640px) {
  .common {
    height: 92.5vh;
  }

  .button {
    top: 300px;
  }
}
