.fighter {
  background-color: darkkhaki;
  width: 300px;
  margin: 12px auto 5px auto;
  border: 3px solid brown;
  border-radius: 12%;
  min-height: 410px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  font-weight: bold;
  color: saddlebrown;
  margin-top: 10px;
  font-family: "Gothic A1", sans-serif;
}

.animate {
  font-weight: bold;
  color: saddlebrown;
  margin-top: 3px;
  font-family: "Gothic A1", sans-serif;
  animation: colorChangeAnimation 1s infinite;
  animation-iteration-count: 1;
  transition: transform 0.5s;
}

.image {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.imageThorvald {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.imageThorvald:hover {
  animation: wobble 1s 1;
}

.image:hover {
  animation: wobble 1s 1;
}

@keyframes colorChangeAnimation {
  0% {
    color: saddlebrown;
    transform: scale(1);
  }
  50% {
    color: red;
    transform: scale(1.2);
  }
  100% {
    color: saddlebrown;
    transform: scale(1);
  }
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image:active {
  animation: twitch 0.1s;
}

@keyframes twitch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.deadEnemyBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.deadEnemyBlock img {
  padding-bottom: 8px;
}

.deadEnemyBlock .line {
  font-weight: bold;
  color: rgb(187, 86, 13);
  margin: 5px 0px 15px 0px;
  font-family: "Gothic A1", sans-serif;
}

@media only screen and (max-width: 375px) {
  .fighter {
    width: 280px;
    min-height: 250px;
  }

  .line {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 575.98px) {
  .fighter {
    width: 280px;
    min-height: 250px;
  }

  .line {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
}

@media only screen and (min-width: 1200px) {
}
