.fighter {
  margin-bottom: 20px;
  font-weight: bold;
  color: saddlebrown;
  background-color: darkkhaki;
  width: 300px;
  margin: 10px auto 10px auto;
  border: 3px solid brown;
  border-radius: 12%;
  height: 450px;
}
