.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.common {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 150px;
  flex-direction: column;
  text-align: center;
  background-color: #1b4332;
  background-image: linear-gradient(to bottom, #1b4332, #2d6a4f);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 78.5vh;
  color: #ffffffc2;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333333;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Gothic A1", sans-serif;
  margin-top: 50px;
}

.button:hover {
  background-color: #d9d9d9;
}


.common .textBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 23px;
  color: rgb(189, 197, 197);
  margin-bottom: 30px;
}

.item {
  margin: 8px 0px 0px 5px;
  font-size: 19px;
  font-family: "Gothic A1", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  color: beige;
}

.items {
  display: flex;
  margin-top: 15px;
}

.sword {
  height: 40px;
  width: 40px;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  background-color: #4e6a52;
  width: 100%;
  min-height: 35px;
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  padding-top: 15px;
  font-size: 20px;
  opacity: 0.89;
  text-align: center;
  background-image: linear-gradient(to bottom, #4e6a52, #7a9e80);
  background-repeat: no-repeat;
  background-size: cover;
  animation: emerge 0.3s ease-in-out forwards;
}

.header header {
  justify-content: flex-start;
}

@media only screen and (max-width: 375px) {
  .header header {
    margin-right: 80px;
  }

  .common {
    padding-top: 50px;
    min-height: 84.5vh;
  }
}

@media only screen and (max-width: 575.98px) {
  .header header {
    margin-right: 80px;
  }

  .common {
    padding-top: 50px;
    min-height: 89.5vh;
  }
}
