.common {
  text-align: center;
  background-color: #1b4332;
  background-image: linear-gradient(to bottom, #1b4332, #2d6a4f);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 94.7vh;
  color: #ffffffc2;
}

.common .button {
  text-align: center;
  margin-top: 50px;
}

.common .textBlock {
  font-size: 23px;
  padding: 50px 0px 0px 150px;
  color: rgb(189, 197, 197);
  margin-bottom: 30px;
}

.item {
  margin: 20px 0px 0px 0px;
  padding-top: 15px;
  font-size: 19px;
  font-family: "Gothic A1", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  color: beige;
}

.items {
  display: flex;
  margin-top: 10px;
}

.sword {
  height: 35px;
  width: 35px;
  padding: 30px 10px 0px 670px;
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes emerge {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  background-color: #4e6a52;
  min-height: 35px;
  font-family: "Gothic A1", sans-serif;
  color: #ffffff;
  padding-top: 15px;
  font-size: 20px;
  opacity: 0.89;
  text-align: center;
  background-image: linear-gradient(to bottom, #4e6a52, #7a9e80);
  background-repeat: no-repeat;
  background-size: cover;
  animation: emerge 0.3s ease-in-out forwards;
}

@media only screen and (max-width: 600px) {
  .common .textBlock {
    padding: 60px 0 0 20px;
  }
  .sword {
    padding: 30px 10px 0px 150px;
  }
}

@media only screen and (min-width: 600px) {
  .common .textBlock {
    padding: 70px 0 0 30px;
  }
  .sword {
    padding: 30px 10px 0px 250px;
  }
}

@media only screen and (min-width: 768px) {
  .common .textBlock {
    padding: 80px 0 0 50px;
  }
  .sword {
    padding: 30px 10px 0px 350px;
  }
}

@media only screen and (min-width: 992px) {
  .common .textBlock {
    padding: 80px 0 0 60px;
  }
  .sword {
    padding: 30px 10px 0px 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .common .textBlock {
    padding: 80px 0 0 150px;
  }
  .sword {
    padding: 30px 10px 0px 670px;
  }
}
